.fast_span {
  border-radius: 32px;
  background: #e7e8e3;
  padding: 4px 12px;
  color: #2a2c1f;
  font-size: 14px;
  line-height: 21px;
}

.fast_title {
  color: #2a2c1f;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  width: 485px;
  margin-top: 21px;
}

.fast_text {
  color: #65665c;
  font-size: 18px;
  line-height: 27px;
  width: 600px;
  margin-top: 29px;
}

.fast_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 128px;
}

.fast_parent-wrapper {
  margin-left: 80px;
  margin-top: 120px;
}

.fast_img {
  margin-top: 128px;
}

.fast_icon {
  border-radius: 8px;
  background: #fae8e1;
  padding: 8px;
}

.fast_title-work {
  color: #2a2c1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
}

.fast_work-text {
  color: #65665c;
  font-size: 16px;
  line-height: 24px;
  width: 245px;
  margin-top: 18px;
}

.fast_title-prices {
  color: #2a2c1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 10px;
}

.fast_prices-text {
  color: #65665c;
  font-size: 16px;
  line-height: 24px;
  width: 281px;
  margin-top: 18px;
}

.wrapper_fast-box {
  display: flex;
  margin-top: 36px;
}

.box2 {
  margin-left: 24px;
}

.agent_text {
  margin-left: 35px;
}
