.logos-list {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.logos_item {
  margin-right: 32px;
}
.all_logos_wrapper {
  margin: 70px 0px;
  display: flex;
}

.logos_title {
  width: 300px;
  color: #2a2c1f;
  font-size: 18px;
  line-height: 27px;
}
