.best_span {
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 12px;
}

.best_title {
  color: #2a2c1f;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  width: 453px;
  margin-top: 20px;
}

.best_text {
  color: #65665c;
  font-size: 18px;
  line-height: 27px;
  width: 520px;
  margin-top: 28px;
}

.best_button {
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
  color: #2a2c1f;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  margin-top: 21px;
}

.best_span-contant {
  color: #2a2c1f;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 34px;
  margin-left: 24px;
}

.best_icon {
  margin-left: 4px;
}

.best_wrapper {
  display: flex;
}

.best_parent-wrapper {
  margin-top: 268px;
}
.best_img {
  margin-top: 128px;
  margin-left: 40px;
}
