.works_title {
  color: #2a2c1f;
  text-align: center;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 57.6px;
}

.works_text {
  color: #65665c;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  width: 754px;
  margin-left: 195px;
}

.work_img {
  border-radius: 8px;
  background: #fae8e1;
  padding: 8px;
  margin-left: 150px;
  margin-top: 49px;
}

.wrapper_work-box {
    display: flex;
}

.work_box {
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 405px;
  height: 291px;
  margin-right: 32px;
}

.work_title-find {
  color: #2a2c1f;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 24px;
}

.work_find-text {
  color: #65665c;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  width: 338px;
  margin-left: 10px;
}


